@page
@model BankStartWeb.Pages.Account.DepositModel
@{
}

<form method="post">
       
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount"/>
        <span class="field-validation-error" asp-validation-for="Amount"></span>
    </div>

    <button type="submit" class="btn">Deposit</button>
</form>
