@page
@model BankStartWeb.Pages.CustomerInfo.LoginModel
@{
}

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="form group row">
            <div class"col-3">
                <label asp-for="Credential.Email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="Credential.Email"></input>
            </div>
        </div>
        <div class="form group row">
            <div class"col-3">
                <label asp-for="Credential.Password"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="Credential.Password"></input>
            </div>
        </div>
    </form>
</div>
